<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bobrusha.android.yandex.content_provider_server"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <permission android:name="ru.yandex.yamblz.READ_ARTISTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".content_provider.MyProvider"
            android:authorities="com.bobrusha.android.yandex.content_provider_server.content_provider.MyProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider"/>

        <service
            android:name=".network.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bobrusha.android.yandex.content_provider_server.content_provider.StartService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>